.sidebar_chat{
    display: flex;
    cursor: pointer;
    position: relative;
    margin-top:20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc9c9;
    z-index: 10;
}
.sidebar_chat_context{
    display: flex;
    width: 90%;
}
.sidebar_chat_details{
    display: flex;
    justify-content: space-between;
    flex-direction: column;;
    padding-left: 30px;
    position: relative;
    
  
}
.sidebar_chat_details>p{

    font-size: 12px;
}
.sidebar_chat_details>h2{
    font-size: 18px;
    margin-bottom: 6px;
}
.sidebar_chat:hover{
    background-color: #ebebeb;
}
.sidebar_chat_controls{
    position: relative;
    display: flex;
    width: fit-content;
    justify-content: center;

    
}
button.MuiButtonBase-root.MuiButton-root.MuiButton-text{
    z-index: 20;
}