.login{
    display: grid;
    position: absolute;
    place-content: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #cccccc;
    background: linear-gradient(to bottom right,rgb(248, 248, 248) 0%, #828686 100% )
}
.login_field{
    display: grid;
    position: relative;
    max-width: 700px;
    min-width: 500px;
    height: 500px;
    place-content: center;
    text-align: center;
}

.login_main{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    min-width: 485px;
    background: rgba(248, 248, 248, 0.65);
    width:35vw;
    height: 45vh;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 10px;
    z-index: 10;
     
    box-shadow: 2px 10px 40px rgba(22,20,19,0.4);
}
.forgot_password_content{
    width: 100%;
}
.form_forgot_password{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    justify-content: space-evenly;
}